/*.pending-reqs-container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .single-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9; 
  }
  
  .profile-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .details {
    flex: 1;
  }
  
  h2 {
    color: #333; 
  }
  
  p {
    color: #666;
  }
  
  .buttons {
    display: flex;
  }
  
  .buttons button {
    margin-right: 5px;
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #0056b3; 
  }
*/

/* Pendingreqs.css */

.pending-reqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-container input[type="text"],
.search-container select {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table-container {
  overflow-x: auto;
  max-width: 1500px;
}

.single-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.details {
  flex: 1;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
}
