* {
  background-color: #13072e;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  display: flex;
}
.loggo {
  background-image: url(".././src/imgs/ConnectED.jpg");
  background-size: cover;
  height: 35px;
  width: 35px;
  margin-top: 10px;
}
.logoName {
  color: white;
  margin-left: 15px;
}

.Login {
  margin-right: 20px;
  background-color: white;
  color: rgb(23, 4, 65);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.main {
  height: 700px;
  width: 80%;
  margin: auto;
  background: linear-gradient(
    to bottom right,
    #13072e,
    #3f2182
  );
  border-radius: 20px;
  box-shadow: 3px 2px rgb(16, 1, 27),
}
