@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: linear-gradient(
    to bottom right,
    #516797,
    #98bad5
  );
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.logo {
  /* position: absolute;
  top:2.4%;
  left: 5%; */
  margin-left: 10px;
  display: flex;
}
.loggo {
  background-image: url(".././src/imgs/finallogo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  position: absolute;
  top: 2%;
  left: 6%;
}
.logoName {
  color: white;
  margin-left: 15px;
  position: absolute;
  top: 4.3%;
  left: 4%;
  font-weight: 600;
}


