.outerListBox {
  height: 85vh;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  margin-top: 4rem;
}

.mentorList {
  height: 85vh;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
}

.list {
  display: flex ;
  flex-direction: column;
  width: 100%;
  background-color: rgb(153, 197, 236);
  border-radius: 1.6rem;
}
/* Search container */
.search-container {
  position: relative;
}

/* Search input */
.searchbar .search-input {
  width: 400px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  color: black;
}

/* Search icon */
.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 0.3rem;
  color: white;
}
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
