@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
);

.navbar {
  display: flex;
  background: rgb(5 126 130);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(2, 2, 3, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow-x: auto;
  margin: 1%;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: larger;
  
  
}
.nav-logo p{
  font-weight:1000;
  color: white !important;
}

.nav-logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  font-size: 1.2rem;
  margin-right: 150px;
  position: relative;
}
.nav-menu li a {
  color:aliceblue;
  text-decoration: none;
}

.nav-menu li a:hover {
  color:#2a2c40;
}

.nav-menu li hr {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3.1px;
  background-color:#7db4c3;
  border: none;
}

.nav-login-cart {
  display: flex;
  align-items: center;
}

.view-requests {
  background-color: #27a1bd;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.view-requests {
  height: 50px;
}

.view-requests:hover{
  background-color: #1d6373;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  color:aliceblue;
}

.profile:hover {
  color:#2a2c40;
}
